n8n-workflows/07-community.json
{
  "name": "Tribal Cowboy - Community",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Tribal Cowboy — Community Partnership",
        "formDescription": "School or nonprofit requesting services? Submit the details and get a tailored partnership proposal.",
        "responseMode": "onReceived",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Organization Name",
              "fieldType": "text",
              "requiredField": true,
              "placeholder": "e.g. Lincoln Elementary PTA"
            },
            {
              "fieldLabel": "Organization Type",
              "fieldType": "select",
              "requiredField": true,
              "fieldOptions": {
                "values": [
                  {"option": "Public School"},
                  {"option": "Private School"},
                  {"option": "Nonprofit 501(c)(3)"},
                  {"option": "Church / Religious Org"},
                  {"option": "Youth Program"},
                  {"option": "Civic Group"},
                  {"option": "Other Community Org"}
                ]
              }
            },
            {
              "fieldLabel": "Event Details",
              "fieldType": "textarea",
              "requiredField": true,
              "placeholder": "Describe the event — date, expected attendance, services needed, any budget info..."
            }
          ]
        },
        "options": {
          "respondWithOptions": {
            "values": {
              "formSubmittedText": "Partnership proposal is being prepared and will be emailed to you shortly."
            }
          }
        }
      },
      "id": "form-trigger-community",
      "name": "Community Request Form",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [240, 300],
      "webhookId": "tribal-cowboy-community"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "prompt-var",
              "name": "prompt",
              "value": "=Evaluate a school or nonprofit partnership request for Tribal Cowboy.\n\nOrganization: {{ $json['Organization Name'] }}\nType: {{ $json['Organization Type'] }}\nEvent details: {{ $json['Event Details'] }}\n\nProvide: 1) Recommended partnership tier (1=Full Partnership, 2=Sponsorship, 3=Educational Rate), 2) Suggested pricing with community rate AND standard rate shown, 3) What the org should provide in return (logo, mentions, letter, etc.), 4) A ready-to-send proposal email, 5) Grant/funding language to help them find a budget.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "set-prompt-community",
      "name": "Build Prompt",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}",
        "messages": {
          "messageValues": [
            {
              "message": "You are the Community Agent for Tribal Cowboy LLC — specialist in school and nonprofit partnerships. Your philosophy: strategic generosity, not free labor. Community partnerships must serve real need with excellence, represent Tribal Cowboy beautifully, create goodwill that feeds future paid work, and keep the business sustainable.\n\nPARTNERSHIP TIERS:\n- Tier 1 Full Community Partnership: Title I schools, 501(c)(3) nonprofits. 40-60% discount. Requires: nonprofit proof, 30+ days notice, social media feature permission, letter of appreciation.\n- Tier 2 Community Sponsorship: local community events, civic groups. In-kind/partial contribution for prominent branding. Requires: logo on materials, tags/mentions, speaking/featured table, written deliverables.\n- Tier 3 Educational Rate: any school, PTA/PTO, after-school programs. 20-30% discount. Requires: school letterhead verification, standard deposit still required.\n\nNEVER FREE — even for community: Labor beyond scope, additional day-of hours, equipment/supply costs, rush bookings (<2 weeks), repeat engagements without renegotiation.\n\nPROPOSAL STRUCTURE: Partnership Overview → Community Impact Statement → Tribal Cowboy's Contribution → Partnership Terms (what org provides back) → Investment (community AND standard rates) → Deliverables & Scope → Next Steps.\n\nGRANT LANGUAGE: 'Many school partners use PTA funds, activity budgets, or local business grants.' 'We provide invoices and vendor letters for grant applications.'\n\nRULES: Never commit without written agreement. Always show standard AND community rate. Max 2-3 full community partnerships per quarter. Full professional effort — no cutting corners."
            }
          ]
        },
        "batching": {}
      },
      "id": "llm-chain-community",
      "name": "Community Agent",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [680, 300]
    },
    {
      "parameters": {
        "model": "claude-sonnet-4-5-20250929",
        "options": {
          "maxTokensToSample": 4096
        }
      },
      "id": "claude-model-community",
      "name": "Anthropic Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [680, 500]
    },
    {
      "parameters": {
        "sendTo": "YOUR_EMAIL@gmail.com",
        "subject": "=🏫 Community Partnership Proposal — {{ $('Community Request Form').item.json['Organization Name'] }}",
        "emailType": "text",
        "message": "=New community partnership request received:\n\nORGANIZATION: {{ $('Community Request Form').item.json['Organization Name'] }}\nTYPE: {{ $('Community Request Form').item.json['Organization Type'] }}\nEVENT: {{ $('Community Request Form').item.json['Event Details'] }}\n\n---\nPARTNERSHIP PROPOSAL:\n\n{{ $json.text }}"
      },
      "id": "gmail-community",
      "name": "Email Partnership Proposal",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Community Request Form": {
      "main": [[{"node": "Build Prompt", "type": "main", "index": 0}]]
    },
    "Build Prompt": {
      "main": [[{"node": "Community Agent", "type": "main", "index": 0}]]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [[{"node": "Community Agent", "type": "ai_languageModel", "index": 0}]]
    },
    "Community Agent": {
      "main": [[{"node": "Email Partnership Proposal", "type": "main", "index": 0}]]
    }
  },
  "settings": {"executionOrder": "v1"},
  "pinData": {}
}
