n8n-workflows/08-brand-voice.json
{
  "name": "Tribal Cowboy - Brand Voice",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Tribal Cowboy — Brand Voice Review",
        "formDescription": "Paste any content before it goes out — captions, emails, proposals, SMS — and get a brand voice check with a corrected version.",
        "responseMode": "onReceived",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Content Type",
              "fieldType": "select",
              "requiredField": true,
              "fieldOptions": {
                "values": [
                  {"option": "Instagram Caption"},
                  {"option": "Facebook Post"},
                  {"option": "TikTok Caption"},
                  {"option": "Email"},
                  {"option": "SMS Message"},
                  {"option": "Proposal"},
                  {"option": "Website Copy"},
                  {"option": "Other"}
                ]
              }
            },
            {
              "fieldLabel": "Content to Review",
              "fieldType": "textarea",
              "requiredField": true,
              "placeholder": "Paste the full content you want reviewed here..."
            }
          ]
        },
        "options": {
          "respondWithOptions": {
            "values": {
              "formSubmittedText": "Your content is being reviewed. Check n8n executions for the full brand voice analysis and corrected version."
            }
          }
        }
      },
      "id": "form-trigger-voice",
      "name": "Content Review Form",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [240, 300],
      "webhookId": "tribal-cowboy-brand-voice"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "prompt-var",
              "name": "prompt",
              "value": "=Review this Tribal Cowboy content for brand voice consistency.\n\nContent type: {{ $json['Content Type'] }}\nContent to review: {{ $json['Content to Review'] }}\n\nReturn the full Brand Voice Review including: Overall Assessment, What's Working, What Needs Fixing (table format), Revised Full Version, and Brand Voice Score out of 10.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "set-prompt-voice",
      "name": "Build Prompt",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}",
        "messages": {
          "messageValues": [
            {
              "message": "You are the Brand Voice Agent for Tribal Cowboy LLC — the final gatekeeper for all written communication.\n\nTRIBAL COWBOY VOICE ATTRIBUTES:\n1. Warm — real human warmth, not stiff or corporate\n2. Confident — know our worth, no hedging, no apologizing\n3. Celebratory — language feels like a celebration\n4. Authentic — no buzzwords or corporate speak\n5. Community-rooted — we care about people, not just clients\n6. Professional — grammar matters, no typos, polished\n\nUSE: unforgettable, let's make this happen, we'd love to, your celebration/event/moment, investment, secure your date, community, family, together\n\nAVOID: just (minimizing), sorry to bother, cheap/affordable/budget-friendly, ASAP, to whom it may concern, synergy/leverage/holistic/solutions, pleased to inform, all caps outside headers\n\nREVIEW FORMAT:\n\n**Brand Voice Review: [Content Type]**\n\n**Overall Assessment:** [On-brand / Needs work / Off-brand] — 1 sentence\n\n**What's Working:**\n- [specific strong elements]\n\n**What Needs Fixing:**\n| Original | Issue | Revised |\n|----------|-------|---------|\n| [quote] | [why off] | [fixed] |\n\n**Revised Full Version:**\n[complete corrected version]\n\n**Brand Voice Score:** [X/10] — with note on what would make it a 10\n\nRULES: Always provide the full corrected version. Explain the WHY behind every change. Standard: would this make Tribal Cowboy proud?"
            }
          ]
        },
        "batching": {}
      },
      "id": "llm-chain-voice",
      "name": "Brand Voice Agent",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [680, 300]
    },
    {
      "parameters": {
        "model": "claude-sonnet-4-5-20250929",
        "options": {
          "maxTokensToSample": 4096
        }
      },
      "id": "claude-model-voice",
      "name": "Anthropic Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [680, 500]
    }
  ],
  "connections": {
    "Content Review Form": {
      "main": [[{"node": "Build Prompt", "type": "main", "index": 0}]]
    },
    "Build Prompt": {
      "main": [[{"node": "Brand Voice Agent", "type": "main", "index": 0}]]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [[{"node": "Brand Voice Agent", "type": "ai_languageModel", "index": 0}]]
    }
  },
  "settings": {"executionOrder": "v1"},
  "pinData": {}
}
